## **print()**  

괄호 안의 내용을 출력하라는 함수  
괄호 안에는 문자, 숫자, 변수들이 들어갈 수 있다.  
* 문자 : 큰 따옴표 또는 작은 따옴표 안에 들어가야 함.  
* 숫자 : 따옴표 없이 숫자만 출력이 가능하다.

In [6]:
print("hello world")
print('sdasdasd')
print(123)
print('123')

hello world
sdasdasd
123
123

## 변수  
특정 데이터를 저장하는 곳.  
저장 방법 : 변수이름 = 저장하고 싶은 데이터  
변수는 따옴표 없이 사용한다.

In [16]:

a = 4 
print(a)
print('a')
a, c = 34 , 7
print(a)
b = 5
print(a + b)
print(a / b)
print(a // b)
print(a % b)

4
a
34
39
6.8
6
4

- 변수와 문자 섞어서 출력하기  
괄호 내에서 쉼표로 분리하여야 한다.  
마지막으로 저장한 변수의 값들이 적용된다.  
변수들의 연산식들 적으면 연산결과가 출력된다.

In [17]:
print("저는", b, "층에 살아요.")
print("차는 지하", a, "층에 있어요")
print("꼭대기 층은", a*b, "층이예요")

저는 5 층에 살아요.
차는 지하 34 층에 있어요
꼭대기 층은 170 층이예요

## 구구단 출력하기
-  원시적인 방법으로는 90줄을 써야함  

: 변수를 활용하면 줄일 수 있음

In [26]:
dan = 4
print("구구단", dan, "단을 출력합니다.")
print(dan, "* 2 = ", dan*2)
print(dan, "* 3 = ", dan*3)
print(dan, "* 4 = ", dan*4)
print(dan, "* 5 = ", dan*5)
print(dan, "* 6 = ", dan*6)
print(dan, "* 7 = ", dan*7)

구구단 4 단을 출력합니다.
4 * 2 =  8
4 * 3 =  12
4 * 4 =  16
4 * 5 =  20
4 * 6 =  24
4 * 7 =  28

In [28]:
print(2, end="")
print(33)

233

```end=''``` 옵션을 사용하면 print 함수를 같은 줄에 사용하는 것이 가능하다.

## 키보드로부터 입력받기
### - input

사용자에게 데이터를 키보드로 입력받는 역할  
입력을 받아서 보통 변수에 문자로 저장한다.

In [36]:
name = input("이름 : ")
age = input('나이 : ')
print("제 이름은 ", name,"이고", age,"살 입니다.")

이름 : 박선익
나이 : 26
제 이름은  박선익 이고 26 살 입니다.

In [37]:
broAge = age - 2
print("제 동생은", broAge, '살 입니다.')

TypeError: ignored

### - int
* 괄호 안의 문자를 숫자로 바꿔주는 역할
* age가 아닌 int(age)를 사용하면 에러 없이 실행 가능

In [39]:
broAge = int(age) - 2
print("제 동생은", broAge, '살 입니다.')

제 동생은 24 살 입니다.

## DIY : 섭씨(C) 온도를 입력받아 화씨(F) 온도로 출력하기

In [44]:
celcius = int(input('온도를 입력 : '))
fahrenheit = (celcius * 1.8) + 32
print(fahrenheit)

온도를 입력 : 25
77.0

### 문자열(String)
* 문자들이 모인 것, 텍스트
* 인터넷에서 데이터 수집을 할 때 텍스트 데이터를 상당히 많이 접하게 된다.
* 실제로 문자 하나하나씩 저장이 된다.
* index(순서)는 1이 아닌 0부터 시작
  
* 대괄호를 사용하여 문자열의 일부분을 표현 가능하다.

In [48]:
str = 'i am hungry'
print(str[-2])
print(str[7], end="\n\n")

print(str[:3])
print(str[7:])
print(str[2:-3])

r
n

i a
ngry
am hun

## replace()
* 문자열을 바꾸는 함수
* 첫 인자 문자열을 두 번째 문자열을 바꿈.
* 원래 문자열을 바꾸는 함수가 아니라 새로운 문자열을 만들어준다.

In [49]:
str2 = str.replace('hu', 'a')
print(str2)
print(str)

i am angry
i am hungry

* 첫 인자를 찾지 못했을 경우 아무것도 바꾸지 않는다.

In [51]:
str3 = str.replace('gryt', 'ting')
print(str3)

i am hungry

## strip()
앞뒤의 공백이 있을 시에 제거한 새로운 문자열을 만들어준다.

In [57]:
str4 = "     앞뒤로 공백이 있어요        "
print(str4)
print(str4.strip())
print(str4)
print(str4.replace(" ", ""))
print(str4.lstrip().rstrip())

     앞뒤로 공백이 있어요
앞뒤로 공백이 있어요
     앞뒤로 공백이 있어요
앞뒤로공백이있어요
앞뒤로 공백이 있어요

## split()
특정 문자열로 문자열을 분리하는 함수

In [59]:
str5 = "#오늘#점심은#뭐먹을까"
print(str5[3])
splitResult = str5.split("#")
print(splitResult[0])
print(splitResult[1])
print(splitResult[2])
print(splitResult[3])

#

오늘
점심은
뭐먹을까

## DIY 
다음 문자열이 주어졌을 때,  
diyString = "처음에 글이 있고 중간에는         공백이 길고, 끝부분에는 공백이 짧아요   "

* 1. 앞뒤 공백을 제거하고
* 2. "공백"이라는 문자열로 분리를 하고 난 결과의 index가 1인 문자열의
* 3. index가 3인 문자는?

In [76]:
diyString = "처음에 글이 있고 중간에는         공백이 길고, 끝부분에는 공백이 짧아요   "

afterStrip = diyString.strip()
afterSplit = afterStrip.split('공백')

afterindex1 = afterSplit[1]
afterindex3 = afterindex1[3]
print(afterindex3)

# different way, but same reusult
result = diyString.strip().split('공백')[1][3]
print(result)

고
고

## if문
* 주어진 조건을 만족했을 떄 특정 명령을 수행한다.


## else 문
* if문이 거짓일 경우에만 특정 명령을 수행함.

* 명령 앞에 들여쓰기 필수
* else 단독으로 쓸 수 없고, if와 함꼐 쓰여야 함 
* 짝을 이루는 if와 else는 동일한 수준의 들여쓰기 필수
* else와 if와 달리 조건이 붙지 않음.

In [78]:
a  = 20
if a > 15:
  print("a는 15보다 큽니다.")
print("=====================")

a = 10
if a > 15:
  print("a는 15보다 큽니다.")
print("=====================")

a는 15보다 큽니다.
=====================
=====================

In [79]:
a = 10

if a > 15:
  print("a는 15보다 큽니다.")
else:
  print("a는 15보다 작습니다.")

print("=====================")

a는 15보다 작습니다.
=====================